<style>
  a{
    color: orange;
  }
</style>
<footer class="page-footer font-small bg-light pt-4" >
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">{{'footer.h5-10'| translate}}</h5>
          <p>{{'footer.p_11'| translate}}.</p>
          <p>- {{'footer.p_12'| translate}}</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-2 mb-md-0 mb-3">
          <h5 class="text-uppercase">{{'footer.h5-18'| translate}}</h5>
  
          <ul class="list-unstyled">
            <li>
              <a routerLink="/viewProjects">{{'footer.a_22-1' | translate}}</a>
            </li>
            <li>
              <a routerLink="/employees">{{'footer.a_25-1'| translate}}</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-2 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">{{'footer.h5-32'| translate}}</h5>
  
          <ul class="list-unstyled">
            <li>
              <a routerLink="/calendar">{{'footer.a_36'| translate}}</a>
            </li>
            <li>
              <a class="btn btn-md" style="color: orange;margin-left: -12px;" (click)=gotoTop()>{{'footer.a_39'| translate}}</a>
            </li>
          </ul>
  
        </div>
  
      </div>

      <div class="dropup" id="lang">
        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="about-us" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Lang
          <div class="dropdown-menu">
            <a (click)="translate.use('en')" class="dropdown-item" href="#">English</a>
            <a (click)="translate.use('de')" class="dropdown-item" href="#">German</a>
            <a (click)="translate.use('hindi')" class="dropdown-item" href="#">Hindi</a>
          </div>
        </button>
      </div>
  
    </div>
    <div class="footer-copyright text-center py-3">
      <span>{{'footer.span_61'| translate}}</span>
    </div>
  </footer>
