<div class="main">


    <div class="container">

        <div class="middle">
            <div id="login">

                <form [formGroup]="logInForm">

                    <fieldset class="clearfix">
                        <div *ngIf="getUserName.touched || getUserName.dirty">
                            <small *ngIf="getUserName.errors?.required" class="text-danger">
                                Username is required.
                            </small>
                        </div>
                        <p><span class="fa fa-user"></span><input type="text" id="userNAME" Placeholder="Username"
                                formControlName="userNameValidator" [class.is-invalid]="getUserName.touched">

                        </p>
                        <div *ngIf="getUserPass.touched || getUserPass.dirty">
                            <small *ngIf="getUserPass.errors?.required" class="text-danger">
                                Password is required.
                            </small>
                        </div>
                        <p><span class="fa fa-lock"></span><input type="password" id="userPASSWORD"
                                Placeholder="Password" formControlName="userPassValidator"
                                [class.is-invalid]="getUserPass.touched">
                        </p>


                        <div>
                            <button type="submit" class="btn btn-lg btn-outline-light" style="float: right;"
                                (click)=authentication()>Login</button>
                        </div>

                    </fieldset>

                </form>


            </div> <!-- end login -->
            <div class="logo">MANAGE
            </div>

        </div>


    </div>


</div>

<div class="alert alert-danger" *ngIf="invalid==1" style="margin-left: 55%;margin-top: -22%;width: 25%;">
    Invalid credentials...
</div>