.app-top {
    margin: 0 0 3em;
  }
  
  .app-calendar {
    margin: 0 auto;
    max-width: 900px;
  }
  
  .tips {
    padding: 1em;
    ul {
      padding: 2em;
      list-style-type: none;
      
      li {
        color: black;
      }
    }
  }

  #modalHeader{
    background-color: #f0b13d;
    color: white;
    align-self: center;
    border-radius: 10px;
    width: 90%;
    margin: -20px 15px 0;
    box-shadow: rgba(0,0,0,0.14) 0px 4px 20px 0px,#3c4858 0px 7px 10px -5px;
    }

    #modalBtn{
    color: white;
    background-color: #f0b13d;
    border-color: #f0b13d;
    box-shadow: rgba(0,0,0,0.14) 0px 4px 20px 0px,#3c4858 0px 7px 10px -5px;
    }

    #saveBtn{
      color: white;
    }

  #saveBtn:hover{
    border-color: greenyellow;
    background-color: greenyellow;
  }
  
  //Delete Modal
  #deleteModal {		
		color: #636363;
		width: 400px;
	}
	#deleteModal #deleteModalContent {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	#deleteModal #deleteModalHeader {
		border-bottom: none;   
		position: relative;
		margin-right: 20%;
	}
	#deleteModal h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	#deleteModal .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	#deleteModal .modal-body {
		color: #999;
	}
	#deleteModal #deleteModalFooter {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	#deleteModal #deleteModalFooter a {
		color: #999;
	}		
	#deleteModal #deleteIcon {
		width: 80px;
		height: 80px;
		margin: 0 0;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	#deleteModal #deleteIcon i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    #deleteModal #deleteBtnInfo {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	#deleteModal #deleteBtnInfo {
		background: #a8a8a8;
		border-radius: 10px;
		box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    }
    #deleteModal #deleteBtnInfo:hover, #deleteModal #deleteBtnInfo:focus {
        background: greenyellow;
    }
    #deleteModal #deleteBtnDanger {
		border-radius: 10px;
        background: #f15e5e;
    }
    #deleteModal #deleteBtnDanger:hover, #deleteModal #deleteBtnDanger:focus {
        background: #ee3535;
	}