#projectTemplate{
    margin-left: 40px;
    margin-top: 40px;
}

#projectMembersAndTasks{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
}

#pills-tasks-tab    {
    margin-left: 1rem;
    text-align: center;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
 
   
   
}

.nav-pills > li > a {
    color: #106466;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}
.nav-pills > li > a.active {
    color: white;
    background-color: #106466!important;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}



#pills-members-tab{
  
    text-align: center;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
   
}

#pills-reports-tab{
  
  text-align: center;
  width: 110%; 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.well{
    background-color:#fff;
    border-radius: 10px;
    width: 30%;
  
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
     padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  
  #maindiv{
      margin: 30px;
  }
  
  #modalHeader{
    background-color: #f0b13d;
    color: white;
    align-self: center;
    border-radius: 10px;
    width: 90%;
    margin: -20px 15px 0;
    box-shadow: rgba(0,0,0,0.14) 0px 4px 20px 0px,#3c4858 0px 7px 10px -5px;
    }
  #taskEditbtn{
      color: white;
  }

  #taskDeleteBtn:hover{
background-color: red;
border-color: red;
color: white;
  }

  #assignTaskBtn{
    color: white;
  	box-shadow: rgba(0,0,0,0.14) 0px 4px 20px 0px,#3c4858 0px 7px 10px -5px;
  }

  #addTaskIcon{
    color: #eec16e;
    font-size: 46px;
  }

  #addTaskIcon:hover{
    color: #f0b13d;
  }

  #mdfooternew{
    background-color: #3c4858;
  }

  //CheckBox Styling
  .custom-control{
    &.material-checkbox{
      float: right;
     
      --color: #0ef0d9;
  
      .material-control-input{
        display: none;
        
        &:checked~.material-control-indicator{
          border-color: var(--color);
          block-size: 40px;
          transform: rotateZ(45deg) translate(1px, -5px);
          width: 10px;
          border-top: 0px solid #fff;
          border-left: 0px solid #fff;
        }
      }
      .material-control-indicator{
        display: inline-block;
        size: 30px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #aaa;
        transition: .3s;
      }
    }
  }

  //Delete Modal
#deleteModal {		
  color: #636363;
  width: 400px;
}
#deleteModal #deleteModalContent {
  padding: 20px;
  border-radius: 5px;
  border: none;
      text-align: center;
  font-size: 14px;
}
#deleteModal #deleteModalHeader {
  border-bottom: none;   
  position: relative;
  margin-right: 20%;
}
#deleteModal h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
#deleteModal .close {
      position: absolute;
  top: -5px;
  right: -2px;
}
#deleteModal .modal-body {
  color: #999;
}
#deleteModal #deleteModalFooter {
  border: none;
  text-align: center;		
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
#deleteModal #deleteModalFooter a {
  color: #999;
}		
#deleteModal #deleteIcon {
  width: 80px;
  height: 80px;
  margin: 0 0;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
#deleteModal #deleteIcon i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
  #deleteModal #deleteBtnInfo {
      color: #fff;
      border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
  min-width: 120px;
      border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
  }
#deleteModal #deleteBtnInfo {
  background: #a8a8a8;
  border-radius: 10px;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  }
  #deleteModal #deleteBtnInfo:hover, #deleteModal #deleteBtnInfo:focus {
      background: greenyellow;
  }
  #deleteModal #deleteBtnDanger {
  border-radius: 10px;
      background: #f15e5e;
  }
  #deleteModal #deleteBtnDanger:hover, #deleteModal #deleteBtnDanger:focus {
      background: #ee3535;
  }

  #successConfirmModal {		
    color: #636363;
    width: 325px;
  }
  #successConfirmModal .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  #successConfirmModal .modal-header {
    border-bottom: none;   
        position: relative;
  }
  #successConfirmModal h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  #successConfirmModal .form-control, #successConfirmModal #successButton {
    min-height: 40px;
    border-radius: 3px; 
  }
  #successConfirmModal .close {
        position: absolute;
    top: -5px;
    right: -5px;
  }	
  #successConfirmModal .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  #successConfirmModal #successIcon {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  #successConfirmModal #successIcon i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }
  #successConfirmModal.modal-dialog {
    margin-top: 80px;
  }
    #successConfirmModal #successButton {
        color: #fff;
        border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
        border: none;
    }
  #successConfirmModal #successButton:hover, #successConfirmModal #successButton:focus {
    background: #6fb32b;
    outline: none;
  }


//Employee 

img{
  width: 40%;
  align-self: center;
  margin-top: 15px;
  border-radius: 50%;
}

.employeecolumnDiv {
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
}

#editEmpBtn{
  float: right;
  color: white;
}

#delEmpBtn{
  float: right;
  margin-left: 6px;
}

#delEmpBtn:hover{
  background-color: red;
  border-color: red;
  color: white;
}

.jumbotron{
  background-color: white;
}
