<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="/viewProjects"
      style="color: #106466;font-size: 35px;">{{'nav-bar.a_7'| translate}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/viewProjects">{{'nav-bar.a_10'| translate}} <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar">{{'nav-bar.a_13'| translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">{{'nav-bar.a_16'| translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="langMenu">
          <a class="btn btn-sm btn-warning" (click)="translate.use('en')" class="dropdown-item" >English</a>
          <a  class="btn btn-sm btn-warning" (click)="translate.use('de')" class="dropdown-item" >German</a>
          <a  class="btn btn-sm btn-warning" (click)="translate.use('hindi')" class="dropdown-item" >Hindi</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div class="dropdown">
        <img src="/assets/avatar.png" alt="IMAGE" style="margin-right: 18px;">

        <div class="dropdown-content" id="userLogout">
          <a class="btn" (click)=logout()>{{'nav-bar.a_25'| translate}}</a>
        </div>
      </div>
      <a class="fas fa-bell" style="color:#106466 ; font-size: 20px;" (click)="getUpcoming()"></a>
    </form>

  </div>
  <div class="alert alert-warning" style="margin-top: 100px;right: 0; position: absolute;" id="upcomingAlert" hidden>
    <h2>{{'calendar.h2-2'| translate}}</h2>
    <span id="notification"></span>
  </div>
</nav>

